/* Import official Qatar 2022 World Cup font */

@import url('https://fonts.cdnfonts.com/css/qatar2022');


/* Global Style */

body {
    background-color: #7F1431;
    font-size: 1.1rem;
    box-sizing: border-box;
    font-family: 'Qatar2022', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Headings */

h1,
h2,
h3,
h4 {
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h1 > span {
    font-size: 1.3rem;
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.1rem;
    font-weight: 400;
}

/* Hero image */

#hero-image {
    width: 90%;
    height: auto;
    margin-top: 1.8rem;
    border-radius: 5%;
    max-width: 50rem;
}

/* Quiz containers */

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
}

.quiz-container > * {
    width: 100%;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.center-flex {
    justify-content: center;
    align-items: center;
}

.center-justify {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.hidden {
    display: none;
}


/* Buttons */

.button {
    font-size: 1.3rem;
    font-weight: 700;
    padding: .5rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid gold;
    margin-bottom: .8rem;
    margin-top: .8rem;
    text-decoration: none;
    color: #7F1431;
    background-color: white;
    border-radius: 5%;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem gold;
    transform: scale(1.03);
    transition: transform 200ms;
}

.button[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    background-color: grey;
}


/* Styling for Game Questions and Answers */

.answer-option-container {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid gold;
    background-color: white;
    width: 15rem;
    height: 3rem;
}

.answer-option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem gold;
    transform: scale(1.02);
    transition: transform 200ms;
}

.answer-option {
    padding: 1rem;
    background-color: #7F1431;
    color: white;
    margin: 0;
}

.answer-option-text {
    display: inline-block;
    padding: 1rem;
    color: #7F1431;
    margin: 0;
    width: 100%;
    vertical-align: middle;
}

.right-answer {
    background: rgb(33, 216, 33)
}

.wrong-answer {
    background: rgb(245, 26, 26)
}

#question {
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    font-size: 1.4rem;
    text-align: center;
}

/* Styling for status overview */

#status {
    display: flex;
    justify-content: space-between
}

.status-prefix {
    text-align: center;
    font-size: 1rem;
    margin: .4rem;
}

.status-main {
    text-align: center;
    margin: .5rem;
}

#statusBar {
    border: 0.1rem solid gold;
    width: 12rem;
    height: 1.5rem;
    margin: .5rem;
    border-radius: 5%;
}

#statusBarFull {
    height: 100%;
    background: gold;
    width: 0%;
}

i {
    font-size: 1.2rem;
    font-weight: 800;
    display: inline-block;
    float: right;
}

#css-validation {
    width: 3rem;
}

/* Quiz Complete Page */

.quiz-complete-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

input {
    margin-bottom: 1rem;
    width: 15rem;
    height: 1.8rem;
    padding: .5rem;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 0.4rem 1.4rem gold;
    border-radius: 5%;
}

input::placeholder {
    color: #7F1431;
    text-align: center;
}

/* #username {
    margin-bottom: 3rem;
    width: 100%;
    outline: gold;
} */

#quiz-complete-text {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
}

/* #saveButton {
    border: none
} */



